<html>
<head>
<title>login</title>
</head>
<body>
<%=data%>
<form>
UserName:<input type="text"name="name"><br><br>
Password:<input type="password"name="password"><br><br>
<button>cubmit</button>
</form>
</body>
</html>